<div class="profile-box info-box general" fxLayout="column">

    <mat-toolbar color="accent" class="header-size">
        <span class="title-box">Gateway Information</span>
        <span class="tb-spacer"></span>
        

        <button  mat-icon-button (click)="$event.stopPropagation(); addGateway()" [disabled]="isLoadingResults"
            [matTooltip]="'Add Gateway'">
            <mat-icon>library_add</mat-icon>                               
        </button>

    </mat-toolbar>

    <div class="container">
        <!-- CONTENT CARD -->
        <div class="table-container  fuse-white">

            <div class="table-container-body">
                
                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults" [diameter]="40"></mat-spinner>
                </div>

                <table id="table-related" mat-table #table [dataSource]="gateways" class="mat-elevation-z8">                    

                    <!-- Position Column -->
                    <ng-container matColumnDef="serial">
                        <th mat-header-cell *matHeaderCellDef> Serial </th>
                        <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="ipv4_addressd">
                        <th mat-header-cell *matHeaderCellDef> Ipv4 Addressd </th>
                        <td mat-cell *matCellDef="let element"> {{element.ipv4_addressd}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> Quantity of devices </th>
                        <td mat-cell *matCellDef="let element"> {{element.count}}</td>
                    </ng-container>
                    

                    <!-- Buttons Column-->
                    <ng-container matColumnDef="Ficha">
                        <th mat-header-cell *matHeaderCellDef class="not-print">Actions</th>
                        <td mat-cell *matCellDef="let gateway" class="ficha">  
                            <div fxLayout="row" fxLayoutAlign="center center">
                            <button  mat-icon-button (click)="$event.stopPropagation(); detailDevice(gateway)" aria-label="Toggle star"
                                matTooltip="gateway view">
                                <mat-icon class="primary-300-fg">storage</mat-icon>
                            </button>     

                            <button  mat-icon-button (click)="$event.stopPropagation(); addDevice(gateway._id)" aria-label="Toggle star"
                                matTooltip="Add gateway">
                                <mat-icon class="primary-300-fg">router</mat-icon>
                            </button>
                            
                            <mat-spinner *ngIf="gateway?.inProgress;else loaded"
                                [disabled]="gateway?.inProgress" 
                                [class.active]="gateway?.inProgress"
                                [diameter]="20" color="accent">
                            </mat-spinner>
                            
                            <ng-template #loaded>
                                <button  mat-icon-button 
                                    aria-label="Toggle star" matTooltip="Delete gateway"                                
                                    (click)="$event.stopPropagation(); onSelectGateway(gateway)">                                
                                    <mat-icon class="red-900-fg">
                                        delete
                                    </mat-icon>
                                </button>  
                            </ng-template> 
                        </div>  
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

                </table>

                <div class="table-not-record" *ngIf="resultsLength === 0">
                    <ng-container *ngIf="!isLoadingResults">
                        <ng-container *ngTemplateOutlet="templateItemZero">
                        </ng-container>
                    </ng-container>
                </div>
                
            </div>
            <!-- <mat-divider></mat-divider> -->
            <!-- <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->

        </div>
    </div>
    <!-- / CONTENT CARD -->
</div>

<ng-template #templateItemZero>
    <div class='no-items'>
        No existen elementos para desplegar
    </div>
</ng-template>